<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1, p {
        margin-left: 10px;
    }

    ol {
        margin-left: 30px;
    }
</style>
<body>
    
    <div id="app">
        <h1>Lista Email</h1>
        <ol v-if="email.length === 10">
            <li v-for="(item, index) in email" :key="index">{{ item }}</li>
        </ol>
        <p v-else>In caricamento...</p>
    </div>
    

    <script src="./js/main.js"></script>
</body>
</html>